:root {
  --pri: #000000;
  --pri1: rgb(45, 45, 45);
  --sec: #eeeeee;
  --ter1: #08cb00;
  --imp: #f82828;
}

@font-face {
  font-family: normal;
  src: url(./fonts/fonnts.com-Aeonik-Regular.ttf);
}
@font-face {
  font-family: bold;
  src: url(./fonts/fonnts.com-Aeonik-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.anima:hover {
  cursor: pointer;
  color: var(--ter1);
}

nav {
  width: 100%;
  height: 60px;
  background-color: var(--pri);
  color: var(--sec);
  justify-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

main {
  padding: 30px;
  background-color: var(--pri1);
  height: 680px;

  .elements {
    .weather {
      width: 100%;
      height: 250px;
      gap: 20px;
      margin-bottom: 20px;

      .weather-data {
        background-image: url(./assets/profile.jpg);
        background-size: cover;
        border: 2px solid var(--pri);

        -webkit-box-align: center;

        -ms-flex-align: center;

        align-items: center;
        width: 75%;
        padding: 2rem;
        background-color: var(--ter1);
        border-radius: 20px;
        color: var(--sec);
        text-shadow: 5px 5px 5px #000000;

        .we-1 {
          h1 {
            font-size: 50px;
            font-weight: 700;
          }
          h3 {
            font-size: 40px;
            font-weight: 500;
          }
        }
        .we-2 {
          h1 {
            font-size: 50px;
            font-weight: 700;
          }
          h3 {
            font-size: 15px;
            font-weight: 500;
          }
        }
      }

      .imp {
        border-radius: 20px;
        background-color: var(--imp);
        width: 25%;
        background-image: url(./assets/4412259_2369450.jpg);
        background-size: cover;
        border: 2px solid var(--pri);
      }
    }

    .card {
      .events {
        -webkit-transition: all 0.8s ease-in-out;
        -o-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;
        width: 250px;
        height: 350px;
        background-color: var(--sec);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        text-shadow: 5px 5px 5px #000000;

        .text {
          position: absolute;
          color: var(--sec);
          bottom: 5%;
          right: 5%;
          font-family: bold;
        }
        :hover {
          color: var(--ter1);
        }
        img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
        img:hover {
          cursor: pointer;

          border: 0.5px solid var(--ter1);
          border-radius: 8px;
        }
      }
    }
  }

  .fullevent {
    height: 100%;
    width: 100%;
    background-color: black;
    color: var(--sec);
    display: none;
    padding: 20px;
    position: absolute;
    z-index: 999;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    font-size: 50px;
  }
  .heading {
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .back {
    position: absolute;
    right: 3%;
    top: 2%;
    font-size: large;
    background-color: var(--imp);
    padding: 5px 10px;
    border-radius: 8px;
  }
  .back:hover {
    cursor: pointer;
    background-color: rgb(195, 0, 0);
  }
  .back:active {
    scale: 0.9;
    -webkit-transition: ease-in-out 0.1s;
    -o-transition: ease-in-out 0.1s;
    transition: ease-in-out 0.1s;
  }

  .todoappbox {
    width: 100%;
    height: 70%;
    padding: 30px;
    border-radius: 10px;
    font-weight: 500;
    margin-top: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;

    .todo-sec {
      display: block;
    }
    .taskadd {
      width: 40%;
      height: 600px;
      font-size: 1.5rem;
      padding: 1rem;
      border-radius: 8px;
      -webkit-box-align: self-start;
      -ms-flex-align: self-start;
      align-items: self-start;
      border: 2px solid var(--sec);
      -webkit-box-shadow: #272727;
      box-shadow: #272727;
      background: var(--pri1);

      form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 20px;
        margin-top: 2rem;

        input {
          padding: 1.2rem;
          border: 2px solid var(--sec);
          border-radius: 8px;
          background: #818181;
        }
        textarea {
          padding: 1.2rem;
          border: 2px solid var(--sec);
          border-radius: 8px;
          background: #818181;
          font-size: 1.1rem;
        }
        button {
          background-color: var(--ter1);
          color: var(--sec);
          border-radius: 8px;
          -webkit-box-align: baseline;
          -ms-flex-align: baseline;
          align-items: baseline;
        }
        button:active {
          scale: 0.98;
          -webkit-transition: ease-in-out 0.1s;
          -o-transition: ease-in-out 0.1s;
          transition: ease-in-out 0.1s;
        }
      }
    }
    .taskadd:hover {
      -webkit-box-shadow: 0 10px 60px rgba(91, 207, 33, 0.826);
      box-shadow: 0 10px 60px rgba(91, 207, 33, 0.826);
    }
    .taskview {
      width: 60%;
      height: 600px;
      font-size: 1.5rem;
      padding: 1rem;
      border-radius: 8px;
      border: 2px solid var(--sec);
      -webkit-box-shadow: #272727;
      box-shadow: #272727;
      background: var(--pri1);
      overflow: auto;

      h1 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 2rem;
      }

      .taskslist div {
        background-color: #818181;
        border: var(--sec);
        padding: 1rem;
        border-radius: 8px;
        margin-bottom: 10px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        h2 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
        }

        span {
          background-color: var(--imp);
          padding: 5px 8px;
          font-size: 10px;
          border-radius: 20px;
          margin-left: 10px;
        }

        span.true {
          opacity: 1;
        }
        span.false {
          opacity: 0;
        }

        button {
          background-color: var(--ter1);
          color: var(--sec);
          padding: 5px 10px;
          border-radius: 8px;
          float: right;
        }
        button:active {
          scale: 0.95;
          -webkit-transition: ease-in-out 0.1s;
          -o-transition: ease-in-out 0.1s;
          transition: ease-in-out 0.1s;
        }
      }
    }
    .taskview:hover {
      -webkit-box-shadow: 0 10px 60px rgba(91, 207, 33, 0.826);
      box-shadow: 0 10px 60px rgba(91, 207, 33, 0.826);
    }
  }

  .daily-planner {
    padding: 2rem;

    .daily-plannerarea {
      background-color: #818181;
      width: 100%;
      padding: 2rem;
      height: 80%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 20px;
      overflow: auto;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      scrollbar-width: none;
      border-radius: 8px;
      .plans {
        background-color: var(--sec);
        width: 49%;
        font-size: 1.5rem;
        color: #000000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 2rem;
        position: relative;
        height: 4rem;
        border-radius: 50px;

        input {
          padding-left: 8rem;
          outline: none;
        }

        h5 {
          top: 30%;
          left: 10px;
          color: var(--ter1);
          font-size: 1rem;
          font-weight: 700;
          position: absolute;
        }
      }
      .plans:hover {
        -webkit-box-shadow: 0 10px 60px rgba(91, 207, 33, 0.826);
        box-shadow: 0 10px 60px rgba(91, 207, 33, 0.826);
      }
    }
    .daily-plannerarea:hover {
      -webkit-box-shadow: 0 10px 60px rgba(91, 207, 33, 0.826);
      box-shadow: 0 10px 60px rgba(91, 207, 33, 0.826);
    }
  }

  .Motivation {
    .moti-1 {
      -ms-grid-column-align: center;
      justify-self: center;
      width: 50%;
      background-color: var(--sec);
      color: var(--pri);
      border-radius: 10px;
      padding: 1rem;
      margin-top: 5rem;
      -webkit-box-shadow: 0 10px 900px rgba(91, 207, 33, 0.826);
      box-shadow: 0 10px 900px rgba(91, 207, 33, 0.826);

      .moti-2 {
        font-weight: 700;
        margin-bottom: 1rem;
      }
      h2 {
        padding: 1rem;
        font-size: 30px;
      }
      h3 {
        font-size: 25px;
        text-align: right;
        padding-right: 2rem;
      }
    }
  }

  .pomodoro {
    .timerbg {
      color: #000000;

      .timer {
        width: 55%;
        color: var(--sec);
        justify-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 1rem;
        padding: 1.5rem 3rem;
        background: #818181;
        -ms-grid-column-align: center;
        justify-self: center;
        -webkit-box-shadow: 0px 10px 900px #08cb00;
        box-shadow: 0px 10px 900px #08cb00;
        border-radius: 150px;
        border: 20px solid var(--pri);

        .message {
          cursor: pointer;
          font-weight: 600;
          font-size: 2rem;
        }
        .time {
          padding: 1.5rem;
          font-size: 10rem;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          -webkit-box-align: baseline;
          -ms-flex-align: baseline;
          align-items: baseline;
          -webkit-box-pack: right;
          -ms-flex-pack: right;
          justify-content: right;
          font-weight: 700;
        }
        h2 {
          -ms-grid-column-align: right;
          justify-self: right;
          font-size: 50px;
          font-weight: 400;
        }

        .btn {
          padding: 2rem;
          button {
            background: #068000;
            margin: 0rem 2rem;
            padding: 1rem 2rem;
            border-radius: 15px;
            cursor: pointer;
            font-size: 30px;
            -webkit-transition: all ease-in-out 0.2s;
            -o-transition: all ease-in-out 0.2s;
            transition: all ease-in-out 0.2s;
          }
          button:hover {
            background: #014818;
          }
          button:active {
            scale: 0.95;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 60px;
  bottom: 0%;
  background-color: var(--pri);
  color: var(--sec);
  justify-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
