:root {
  --pri: #000000;
  --pri1: rgb(45, 45, 45);
  --sec: #eeeeee;
  --ter1: #08cb00;
  --imp: #f82828;
}

@font-face {
  font-family: normal;
  src: url(./fonts/fonnts.com-Aeonik-Regular.ttf);
}
@font-face {
  font-family: bold;
  src: url(./fonts/fonnts.com-Aeonik-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.anima:hover {
  cursor: pointer;
  color: var(--ter1);
}

nav {
  width: 100%;
  height: 60px;
  background-color: var(--pri);
  color: var(--sec);
  justify-items: center;
  align-content: center;
}

main {
  padding: 30px;
  background-color: var(--pri1);
  height: 680px;

  .card {
    .events {
      transition: all 0.8s ease-in-out;
      width: 250px;
      height: 350px;
      background-color: var(--sec);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 8px;
      overflow: hidden;
      position: relative;
      .text {
        position: absolute;
        color: var(--sec);
        bottom: 5%;
        right: 5%;
        font-family: bold;
      }
      :hover {
        color: var(--ter1);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      img:hover {
        cursor: pointer;

        border: 0.5px solid var(--ter1);
        border-radius: 8px;
      }
    }
  }

  .fullevent {
    height: 100%;
    width: 100%;
    background-color: black;
    color: var(--sec);
    display: none;
    padding: 20px;
    position: absolute;
    z-index: 999;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    font-size: 50px;
  }
  .heading {
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .back {
    position: absolute;
    right: 3%;
    top: 2%;
    font-size: large;
    background-color: var(--imp);
    padding: 5px 10px;
    border-radius: 8px;
  }
  .back:hover {
    cursor: pointer;
    background-color: rgb(195, 0, 0);
  }
  .back:active {
    scale: 0.9;
    transition: ease-in-out 0.1s;
  }

  .todoappbox {
    width: 100%;
    height: 70%;
    padding: 30px;
    border-radius: 10px;
    font-weight: 500;
    margin-top: 30px;
    justify-content: center;
    gap: 30px;

    .todo-sec {
      display: block;
    }
    .taskadd {
      width: 40%;
      height: 600px;
      font-size: 1.5rem;
      padding: 1rem;
      border-radius: 8px;
      align-items: self-start;
      border: 2px solid var(--sec);
      box-shadow: #272727;
      background: var(--pri1);

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 2rem;

        input {
          padding: 1.2rem;
          border: 2px solid var(--sec);
          border-radius: 8px;
          background: #818181;
        }
        textarea {
          padding: 1.2rem;
          border: 2px solid var(--sec);
          border-radius: 8px;
          background: #818181;
          font-size: 1.1rem;
        }
        button {
          background-color: var(--ter1);
          color: var(--sec);
          border-radius: 8px;
          align-items: baseline;
        }
        button:active {
          scale: 0.98;
          transition: ease-in-out 0.1s;
        }
      }
    }
    .taskadd:hover {
      box-shadow: 0 10px 60px rgba(91, 207, 33, 0.826);
    }
    .taskview {
      width: 60%;
      height: 600px;
      font-size: 1.5rem;
      padding: 1rem;
      border-radius: 8px;
      border: 2px solid var(--sec);
      box-shadow: #272727;
      background: var(--pri1);
      overflow: auto;

      h1 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 2rem;
      }

      .taskslist div {
        background-color: #818181;
        border: var(--sec);
        padding: 1rem;
        border-radius: 8px;
        margin-bottom: 10px;
        align-items: center;

        h2 {
          display: flex;
          align-items: flex-start;
        }

        span {
          background-color: var(--imp);
          padding: 5px 8px;
          font-size: 10px;
          border-radius: 20px;
          margin-left: 10px;
        }

        span.true {
          opacity: 1;
        }
        span.false {
          opacity: 0;
        }

        button {
          background-color: var(--ter1);
          color: var(--sec);
          padding: 5px 10px;
          border-radius: 8px;
          float: right;
        }
        button:active {
          scale: 0.95;
          transition: ease-in-out 0.1s;
        }
      }
    }
    .taskview:hover {
      box-shadow: 0 10px 60px rgba(91, 207, 33, 0.826);
    }
  }

  .daily-planner {
    // display: block;
    padding: 2rem;

    .daily-plannerarea {
      background-color: #818181;
      width: 100%;
      padding: 2rem;
      height: 80%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      overflow: auto;
      align-items: flex-start;
      scrollbar-width: none;
      border-radius: 8px;
      .plans {
        background-color: var(--sec);
        width: 49%;
        font-size: 1.5rem;
        color: #000000;
        display: flex;
        gap: 2rem;
        position: relative;
        height: 4rem;
        border-radius: 50px;

        input {
          padding-left: 8rem;
          outline: none;
        }

        h5 {
          top: 30%;
          left: 10px;
          color: var(--ter1);
          font-size: 1rem;
          font-weight: 700;
          position: absolute;
        }
      }
      .plans:hover {
        box-shadow: 0 10px 60px rgba(91, 207, 33, 0.826);
      }
    }
    .daily-plannerarea:hover {
      box-shadow: 0 10px 60px rgba(91, 207, 33, 0.826);
    }
  }

  .Motivation {
    // display: block;
    .moti-1 {
      justify-self: center;
      width: 50%;
      background-color: var(--sec);
      color: var(--pri);
      border-radius: 10px;
      padding: 1rem;
      margin-top: 5rem;
      box-shadow: 0 10px 900px rgba(91, 207, 33, 0.826);

      .moti-2 {
        font-weight: 700;
        margin-bottom: 1rem;
      }
      h2 {
        padding: 1rem;
        font-size: 30px;
      }
      h3 {
        font-size: 25px;
        text-align: right;
        padding-right: 2rem;
      }
    }
  }

  .pomodoro {
    display: block;

    .timerbg {
      color: #000000;

      .timer {
        width: 55%;
        color: var(--sec);
        justify-items: center;
        align-items: center;
        margin-top: 3rem;
        padding: 4rem 3rem;
        background: #818181;
        justify-self: center;
        box-shadow: 0px 10px 900px #08cb00;
        border-radius: 150px;
        border: 2px solid var(--ter1);
        .time {
          padding: 1.5rem;
          font-size: 10rem;
          font-family: "Times New Roman", Times, serif;
        }

        .btn {
          gap: 10px;
          padding: 2rem;
          button {
            background: #068000;
            margin: 0rem 2rem;
            padding: 1rem 2rem;
            border-radius: 15px;
            cursor: pointer;
            font-size: 30px;
            transition: all ease-in-out 0.2s;
          }
          button:hover {
            background: #014818;
          }
          button:active {
            scale: 0.95;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 60px;
  bottom: 0%;
  background-color: var(--pri);
  color: var(--sec);
  justify-items: center;
  align-content: center;
}
